body {
  display: grid;
  overflow-x: hidden;
  height: 100vh;
  min-height: 64px;
  width: 100vw;
  margin: 0;
  grid-template-columns: [col] 9rem [col] repeat(12, 0.1rem [gap] auto [col]) 1rem [end];
  grid-template-rows: [row] 6rem [row] repeat(12, 0.1rem [gap] auto [row]) 1rem [last];
}
.logoNav {
  grid-column: 1;
  grid-row: 1;
  background-color: whitesmoke;
}
.topNav {
  display: none;
  grid-column: 2 / span 25;
  grid-row: 1 / 1;
  background-color: whitesmoke;
}
.sideNav {
  grid-column: 1 / 1;
  grid-row: 2 / span 25;
  background-color: whitesmoke;
}
.footer {
  grid-column: 2 / span 25;
  grid-row: 26 / 26;
  background-color: whitesmoke;
}
.svgWindow {
  grid-column: 3 / span 24;
  grid-row: 1 / span 23;
}

.zoom {
  grid-column: 1;
  grid-row: 24;
}

.modeInput {
  grid-column: 1;
  grid-row: 3;
}
.modeInput > * {
  margin-left: 0.2rem;
  width: 8rem;
}
.formShared {
  grid-column: 1;
  grid-row: 5;
}

#userInput > * {
  margin-left: 0.2rem;
  width: 8rem;
}

#userInputNoTable > * {
  margin-left: 0.2rem;
  width: 8rem;
}
input[type="submit"] {
  margin-top: 1rem;
}

.saveFile {
  grid-column: 1;
  grid-row: 21;
}
.saveFile > * {
  margin-left: 0.2rem;
  width: 8rem;
}
